
.grid-container {
    /* background:url('../img/fondo_Index.jpg') center/cover fixed no-repeat; */
    background-color: #989898;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas fijas */
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    border-radius: 16px;
  
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
  
    box-shadow: 0 8px 24px rgba(31, 38, 135, 0.2), 
                0 4px 6px rgba(0, 0, 0, 0.1);
  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 32px rgba(0, 17, 255, 0.25), 
                0 6px 12px rgba(0, 0, 0, 0.12);
  }
  
  
  .grid-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .text-content {
    flex: 1;
  }
  
  .text-content h3 {
    margin: 0 0 10px;
    font-weight: bold;
  }
  
  .text-content p {
    margin: 0;
    font-size: 0.95rem;
  }
  